@import "~bootstrap/scss/bootstrap";
@import "src/ui/styles/setup/mixins/mq.scss";

.App {
    margin: 5px;
    margin: 0px auto;
}

h2 {
text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.centertext {
    text-align: center;
}

.center {
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

.container {
    margin-top: 10%;
    overflow: hidden;
    z-index:500;
    @include below(tablet) {
        margin-top:30%;
    }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// bootstrap forms

    .mb-3 {
        text-align: left;
        margin-top: 20px;
    }