body {
  margin: 15px;
  font-family: "Roboto Slab", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container h2 {
  margin:0px 20px 45px 20px;
}

section {
  height:60vh;
}
section p {
  width:100%;
}


